.courses-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    border-radius: 5px;
}

.courses-container h1 {
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.courses-container .tap-title {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.courses-container h1 .react-icon {
    font-size: 20px;
    margin-right: 20px;
}

.courses-container h1 .path {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}